@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

// colors
$accent-color: #202B3B;
$primary-color: #0B131E;
$white-color: #FFF;
$light-gray-color: #b4b4b5;
$gray-color: #9399A2;
$light-red-color:#ff6b6b;
$red-color: #ff5252;

// font-families
$main-font-family: 'Rubik', sans-serif;

// font-sizes
$font-size-normal: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;
$font-size-xxxlarge: 3rem;
$font-size-small: 0.875rem;
$font-size-xsmall: 0.75rem;

//font-weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;